<div class="contents">
  <div class="about">
    <div class="about__image">
      <%= image_tag "/images/about.png", size: "500x400" %>
    </div>
    <div class="about__text">
      やりたいことを書き出してみましょう。もちろん100個以上でもOKです。<div>
      いつでも編集したり削除したりできるので、軽い気持ちで。<br>
      どんなちっぽけなことでも、リスト化することで夢が明確になり、実現に繋がっていきます。<br><br>
      他のユーザーの一覧もみることができます。（非公開のものは他の人には見られません。）<br>
      いいなと思うものがあれば自分のリストにも追加してみましょう。
    </div>
    <div class="about__me">
      <%= link_to "管理者のページ", "#", class: "about__me--link" %>
    </div>
  </div>
</div>