<div class="contents index">
  <h1>WE HAVE  <br>100 DREAMS.</h1>
  <p>
    「できること」「やらなきゃいけないこと」<br>ではなく<br><span>「やりたいこと」</span><br>を考えてみませんか？
  </p>
  <%= link_to "詳細を見る", about_dreams_path %>
  <%= link_to "JOIN!", new_user_registration_path %>
</div>