<div class="container">
  <h4>ユーザー</h4>
  <table>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <% if user != current_user %>
              <%= link_to user_path(user) do %>
                <i class="material-icons">touch_app</i>
              <% end %>
            <% end %>
          </td>
          <td><%= user.name %></td>
          <td> has <%= user.dreams.length %> dreams.</td>
        </tr>
      <% end %>
    </tbody>
  </table>


  <%= paginate(@users) %>
</div>