/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "materialize";
 
body {
  height: 100vh;
}

.header {
  box-sizing: border-box;
  font-family: 'Noto Serif JP', serif;
  color: white;
  letter-spacing: 2px;
  background-color: black;
  width: 100vw;
  height: 60px;
  position: fixed;
  z-index: 10;
  top: 0;
  a:hover {
  opacity: 0.6;
}
ul {
  float: right;
  margin: 0;
  li {
    float: left;
    list-style: none;
    line-height: 40px;
    a {
      padding: 10px 20px; 
      display: block;
      color: white;
      text-decoration: none;
      &:hover {
        background-color: white;
        color: black;
      }
    }
      &:last-child {
        margin-right: 20px;
      }
    }
  }
}

.about {
  &__image {
  width: 100%;
  text-align: center;
  }
  &__text {
  margin-top: 10px;
  text-align: center;
  line-height: 30px;
  }
  &__me {
    margin: 20px 0;
    text-align: right;
    &--link {
      color: white;
      font-size: 12px;
      padding: 10px;
      border: 1px solid white;
      border-radius: 20px;
      &:hover {
        background-color: white;
        opacity: 0.6;
        color: black;
      }
      &:first-child {
        margin-right: 10px;
      }
    }
  }  
}

.contents {
  box-sizing: border-box;
  font-family: 'Noto Serif JP', serif;
  color: white;
  background-image: url("/images/yellowknife.jpeg");
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  min-height: 100vh;
  padding: 110px 50px 50px;
  text-align: right;
  h1 {
    font-size: 50px;
    letter-spacing: 10px;
    margin-bottom: 70px;
  }
  p {
    line-height: 40px;
    margin-bottom: 70px;
    margin-right: 20px;
    span {
      font-size: 30px;
      font-weight: bold;
    }
  }
}
.index a {
  text-decoration: none;
  color: white;
  letter-spacing: 3px;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 50%;
  padding: 20px;
  margin-right: 30px;
  &:hover {
    background-color: white;
    opacity: 0.6;
    color: black;
    }
}

.container {
  padding: 60px 50px 50px;
  height: 100%;
  width: 100%;
  position: fixed;
}

.color-white {
  color: white;
}

.user-top {
  display: flex;
  justify-content: space-around;
  height: 250px;
  &__right {
    margin-top: 10px;
  }
}

.new_dream {
margin: 30px 0;
}

.opened {
margin: 0 20px;
}

.lists {
width: 100%;
height: calc(100vh - 350px);
padding-bottom: 50px;
overflow: scroll;
}

.item {
  cursor: grabbing;
}

.signup-with-google {
  &:hover {
    opacity: 0.7;
  }
}