/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";
@import "dream.scss";

body {
  height: 100vh;
}

// header

.header {
  box-sizing: border-box;
  font-family: 'Noto Serif JP', serif;
  color: white;
  letter-spacing: 2px;
  background-color: black;
  width: 100vw;
  height: 60px;
  position: fixed;
  z-index: 10;
  top: 0;
  a:hover {
    opacity: 0.6;
  }
}

ul {
  float: right;
  margin: 0;
  li {
    float: left;
    list-style: none;
    line-height: 40px;
    a {
      padding: 10px 20px; 
      display: block;
      color: white;
      text-decoration: none;
      &:hover {
        background: white;
        color: black;
      }
    }
    &:last-child {
      margin-right: 20px;
    }
  }
}

// about

.contents {
  box-sizing: border-box;
  font-family: 'Noto Serif JP', serif;
  color: white;
  background-image: image-url('yellowknife.jpeg');
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  min-height: 100vh;
  padding: 110px 50px 50px;
  text-align: right;
}

.top {
  display: flex;
  justify-content: center;
  &__image {
    text-align: center;
    margin: 0 20px;
  }
  h1 {
    font-size: 50px;
    letter-spacing: 10px;
    margin-bottom: 70px;
  }
  p {
    line-height: 40px;
    margin-bottom: 70px;
    margin-right: 20px;
    span {
      font-size: 30px;
      font-weight: bold;
    }
  }
}

.about {
  &__text {
    margin-top: 10px;
    padding: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 30px;
    background: rgba(255, 255, 255, 0.2);
  }
  &__me {
    margin-top: 10px;
    text-align: right;
    &--link {
      color: white;
      font-size: 12px;
      padding: 10px;
      border: 1px solid white;
      border-radius: 20px;
      &:hover {
        background-color: white;
        opacity: 0.6;
        color: black;
      }
      &:first-child {
        margin-right: 10px;
      }
    }
  }  
}

.join {
  font-size: 24px;
  border: solid 2px white;
  border-radius: 50%;
  padding: 20px;
}

// other contents

.container {
  padding: 60px 50px 50px;
  height: 100%;
  width: 100%;
  position: fixed;
}

// longin and signup pages

.signup-with-google {
  &:hover {
    opacity: 0.7;
  }
}

// user#index

td a:hover {
  opacity: 0.6;
}