// Place all the styles related to the dream controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-top {
  display: flex;
  justify-content: space-around;
  height: 250px;
  &__right {
    margin-top: 10px;
  }
}

.new_dream {
  margin: 20px 0;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.lists {
  width: 100%;
  height: calc(100vh - 350px);
  overflow: scroll;
}

.item {
  cursor: grabbing;
  &__status {
    text-align: center;
    &--done {
      background: rgba(240, 98, 146, 0.7);
    }
    &--now {
      background: rgba(165, 214, 167, 0.7);
    }
    &--yet {
      background: rgba(224, 224, 224, 0.7);
    }
  }
  &__content {
    padding-left: 20px;
  }
}

.delete_button {
  margin-left: 5px;
}